button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background-color: #4f46e5;
    color: white;
    margin-right: 5px;
    transition: 0.2s ease;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.cancel-button {
    background-color: #64748b;
}

/* Action buttons */
.edit-button {
    background-color: #f59e0b;
}

.delete-button {
    background-color: #ef4444;
}
